*::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
}

.img {
  height: 126vh;
  width: 51vw;
}

@media screen and (max-width: 960px) {
  .img {
    display: none;
  }
  * {
    /* padding: 0px 0px 0px 1px !important; */
    margin: 0;
  }
}
@media screen and (min-width: 960px) {
  .img_mobile {
    display: none;
  }
}

.img_mobile {
  height: auto;
  width: 106.5vw;
}
